@model Invest.Models.ShowRealEstateViewModel

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/cdb.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>


<div class="mb-4 p-4" style="background: white;border-radius:2.5ex;">
    <div class="row" style="margin-bottom:2ex"><h1 class="mx-auto">@Model.FullAddress @Model.RealEstate.Usage @Model.RealEstate.Type </h1></div>

    @*Слайдер изображений*@

    <div class="CarouselWrapper">

        <div class="CarouselHead">
            <h1 class="p-4">Фотографии объекта:</h1>
        </div>

        <div id="carouselExampleFade" class="carousel slide carousel-fade rounded" data-bs-ride="carousel" style="margin-bottom:4ex">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=@string.Concat("data:image/jpeg;base64,", Convert.ToBase64String(@Model.Images.First())) class="d-block w-100" alt="...">
                </div>
                @foreach (var images in Model.Images.Skip(1))
                {
                    <div class="carousel-item">
                        <img src=@string.Concat("data:image/jpeg;base64,", Convert.ToBase64String(images)) class="d-block w-100" alt="...">
                    </div>
                    <form asp-controller="Favorite" asp-action="AddToFavorite" asp-route-eventId="@Model.RealEstate.Id" asp-route-userName="@User.Identity.Name">
                        <button type="submit"><i style="font-size:4vmin;" class="fa-regular fa-heart"></i></button>
                    </form>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    @*Информация*@
    <div class="info mx-auto d-grid">
        <h3> Местоположение: </h3>
        @*Карта Яндекса*@
        @await Html.PartialAsync("Map", new List<Invest.Domain.Entities.RealEstate>{Model.RealEstate})
        @*Эксплуатация*@
        <div class="roomAreatext d-flex">
            <h3> Статус: </h3>

            @if (!@Model.RealEstate.AreReady)
            {
                <h2 style="margin-left:3px;margin-top:-1px;color:red !important;"> Не в эксплуатации </h2>
            }
            else
            {
                <h2 style="margin-left:3px;margin-top:-1px;color:green !important;"> В эксплуатации, </h2>
                @if (Model.RealEstate.Isrepaired)
                {
                    <h2 style="margin-left:3px;margin-top:-1px;color:green !important;"> с готовым ремонтом </h2>
                }
                else
                {
                    <h2 style="margin-left:3px;margin-top:-1px;color:red !important;"> без ремонта </h2>
                }
            }

        </div>

        @*Помещение *@
        <div class="roomArea">
            <div class="roomAreatext d-flex">
                <h3> Площадь помещения: </h3>
                <h2 class="text-gray" style="margin-left:3px;margin-top:-1px;color:tomato;">@Model.RealEstate.Area м²</h2>
            </div>
            <a href="#" data-toggle="modal" data-target="#exampleModal">
                <img src=@string.Concat("data:image/jpeg;base64,", Convert.ToBase64String(Model.Plan)) class="d-block mx-auto rounded" alt="...">
            </a>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <img src=@string.Concat("data:image/jpeg;base64,", Convert.ToBase64String(Model.Plan)) class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="roomAreatext d-flex">
            <div class="d-flex">
                <h3> Месячная прибыль: </h3>
                <h2 style="margin-left:3px;margin-top:-1px;color:green !important;">~ @Model.RealEstate.Income ₽</h2>
            </div>
            <div class="d-flex" style="margin-left: 3ex;">
                <h3> Месячные затраты:</h3>
                <h2 style="margin-left:3px;margin-top:-1px;color:red !important;">
                    ~ @Model.TotalExpenses ₽
                </h2>
                
                    @foreach (var item in Model.Expenses)
                    {<h2 style="margin-left:3px;margin-top:-1px;color:red !important;">
                        @item ₽ <br>
                    </h2>
                    }

               
            </div>
            <div class="d-flex" style="margin-left: 3ex;">
                <h3> Итого:</h3>
                <h2 style="margin-left:3px;margin-top:-1px;color:#0239ff !important;"> ~ @(Model.RealEstate.Income - Model.TotalExpenses) ₽ </h2>
            </div>
        </div>
        <div class="roomAreatext d-flex">
            <h3> Средний срок оккупаемости: </h3>
            <h2 style="margin-left:3px;margin-top:-1px;color:tomato;"> ~ @(Model.RealEstate.Cost * Model.RealEstate.Area / Model.RealEstate.Income) месяцев </h2>
        </div>


        @*Рыночная стоимость*@
        <div>
            <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                График рыночной стоимости
            </button>
            <div class="card chart-container row gy-5 mx-auto" id="collapseExample" style="margin-top:2ex;">
                <canvas id="chart"></canvas>
            </div>
        </div>


    </div>




    <script>
        var price = @Html.Raw(Json.Serialize(Model.HistoryPrice));
        var date = @Html.Raw(Json.Serialize(Model.HistoryDate));
        const ctx = document.getElementById("chart").getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    label: 'Рыночная стоимость',
                    backgroundColor: 'rgba(161, 198, 247, 1)',
                    borderColor: 'rgb(47, 128, 237)',
                    data: price,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            suggestedMin: 800000
                        }
                    }]
                }
            },
        });
    </script>

    <style>

        .roomAreatext {
            margin-top: 4ex !important;
        }

        h2 {
            color: tomato !important;
        }

        .carousel-inner {
            border-radius: 5ex !important;
            box-shadow: 0 0 30px rgba(0,0,0,0.5) !important;
        }

            .carousel-inner img {
                height: 450px !important;
            }

        .roomArea img {
            max-width: 500px;
            max-height: 500px;
        }

        div#tekst_sverhu_kartinki {
            position: relative;
        }

        .tekst_sverhu_kartinki_1 {
            position: absolute;
            bottom: 10%;
            left: 5%;
            text-transform: uppercase;
            color: #fffbfb;
            /* width: 350px; */
        }

    </style>

